# Ignore Emacs backup files.
*~
# Ignore Emacs auto saves directory.
auto-save-list/**
# Ignore Emacs elpa directory.
elpa/**
# Ignore the Emacs customize options file.
custom.el

eln-cache/**

# Ignore the Emacs point save place file.
/places

# Ignore byte-compiled Emacs Lisp files.
*.elc

# Ignore games directory.
games/**

# Ignore backup directory.
backup/**

# Ignore eshell directory.
eshell/**

# Ignore whatever the transient directory is.
transient/**

# Something to do with magit.
server/**

# Ignore the erc-log directory.
erc-log/**

# Ignore the bookmarks file.
/bookmarks

# Ignore the abbrev_defs file.
/abbrev_defs

# Ignore the urls directory.
url/**

# Ignore the private RSS feed elisp file.
/cppimmo/cppimmo-feeds-priv.el